div.game-scores {

  table {
    width: 100%;
    font-size: 0.85rem;

    td {
      width: 25%;
      text-align: center;

      score {
        display: block;
      }
    }

    thead td {
      font-weight: bold;
      padding-bottom: 0.5rem;
      text-decoration: underline;
    }

  }
}
